name: "actionlint"
on:
  workflow_dispatch: # allows manual triggering
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
  merge_group:
jobs:
  actionlint:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          # If you chose API tokens for write access OR if you have a private cache
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13
        with:
          diagnostic-endpoint: ""
      - name: "actionlint"
        run: nix run -Lv --refresh --inputs-from .# nixpkgs#actionlint -- --ignore SC2002
