name: "ci"
on:
  workflow_dispatch: # allows manual triggering
  pull_request:
    branches: [main]
    paths-ignore:
      - '**.md'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
  merge_group:
jobs:
  dependencies:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "build dependencies"
        run: nix build .#checks.x86_64-linux.cargoArtifacts -Lvv --no-update-lock-file
  formatting:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "check formatting"
        run: nix build .#checks.x86_64-linux.treefmt -Lvv --no-update-lock-file
  tests:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    needs: ['formatting', 'dependencies']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "run tests"
        run: nix build .#checks.x86_64-linux.cargoTest -Lvv --no-update-lock-file
  docs:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    needs: ['formatting', 'dependencies']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "build cargo documentation"
        run: nix build .#checks.x86_64-linux.cargoDoc -Lvv --no-update-lock-file
  clippy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    needs: ['formatting', 'dependencies']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "run cargo clippy"
        run: nix build .#checks.x86_64-linux.cargoClippy -Lvv --no-update-lock-file
  devshells:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    needs: ['formatting']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "build devshells"
        run: nix develop .#full -Lvv --no-update-lock-file
      - name: "build fuzzing devshell"
        run: nix develop .#fuzz -Lvv --no-update-lock-file
  example:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}
    environment: cachix
    needs: ['formatting', 'dependencies']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: kenji
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: "build example cli"
        run: nix build .#cli -Lvv --no-update-lock-file
