name: update-rust-toolchain
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 0 * * 0' # runs weekly on Sunday at 00:00
jobs:
  update-rust-toolchain:
    name: "Update rust-toolchain"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: update rust toolchain
        id: urt
        uses: a-kenji/update-rust-toolchain@54561fd7b447ae643e72594536e3b49b40d34255 # v1
        with:
          minor-version-delta: 0
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          pr-labels: |
            dependencies
            automated
            rust
